.ColorPicker {
    background: var(--blueGray2);
}

.colorPickerButton {
    color: var(--mediumGray1);
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
}

.colorPickerButton:hover {
    color: var(--lightGray1);
}