.toolBox {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: var(--blueGray1);
	border-right: 1px solid var(--DarkblueGray1);
}

.toolBar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--DarkblueGray1);
    height: 100%;
}

.toolBar button {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--blueGray1);
    color: var(--mediumGray1);
    border: none;
}

.toolBar button svg {
    font-size: 1.5rem;
}

.toolBar button:hover {
    color: var(--lightGray1);
    cursor: pointer;
}

.toolBar button.active {
    color: var(--lightGray1);
    border-left: 2px solid var(--lightGray1);
}

.ColorPickerMenu {
    background: #eee url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='400' height='400' fill-opacity='.25' ><rect x='200' width='200' height='200' /><rect y='200' width='200' height='200' /></svg>");
    background-size: 50%;
}

.ColorPickerMenu > button.activePicker {
    color: var(--lightGray1);
    border-left: 2px solid var(--lightGray1);
}

button.inactivePicker > .ColorPickerMenu {
    background: none !important;
    background-color: var(--blueGray1);
}