.toolBox {
    display: flex;
    flex-direction: row;
}

.toolBar {
    display: flex;
    flex-direction: column;
}

.toolBar button {
    width: 4rem;
    height: 4rem;
    background-color: rgb(109, 109, 109);
    border-top: none;
    border-left: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.toolBar button.active {
    background-color: rgba(25, 125, 125, 1);
}

.toolOptions {
    display: flex;
    flex-direction: column;
    background-color: rgb(85, 85, 85);
    height: 100%;
}