.toolOptions {
    display: flex;
    flex-direction: column;
    color: var(--mediumGray1);
    width: 14rem;
    overflow: hidden;
}

/* react-color chrome picker changes */
.toolOptions .chrome-picker {
    background-color: var(--blueGray2) !important;
    border-radius: 0px !important;
    width: 100% !important;
}

.toolOptions .chrome-picker>div {
    border-radius: 0px !important;
}

.toolOptions .chrome-picker input {
    color: var(--mediumGray1) !important;
    background-color: var(--blueGray2) !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: 1px solid var(--mediumGray1) !important;
}

.chrome-picker input:hover {
    color: var(--lightGray1) !important;
    border: 1px solid var(--lightGray1) !important;
}

.toolOptions .chrome-picker label {
    color: var(--mediumGray1) !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.toolOptions .chrome-picker svg {
    fill: var(--mediumGray1) !important;
    background: none !important;
}

.toolOptions .chrome-picker svg:hover{
    fill: var(--lightGray1) !important;
}

/* COLOR OPTIONS */

.recentColors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding-top: 0.025rem;
    padding-bottom: 0.025rem; */
    background: var(--blueGray2);
    width: 100%;
}

.colorButtonContainer {
    width: 1.75rem;
    height: 1.75rem;
    background: #eee url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='400' height='400' fill-opacity='.25' ><rect x='200' width='200' height='200' /><rect y='200' width='200' height='200' /></svg>");
    background-size: 50%;
}

.recentColors button {
    width: 100%;
    height: 100%;
    /* margin: 0.025rem; */
}

.recentColors button.selected {
    border: 1px solid var(--lightGray1);
}

.recentColors button:hover{
    border: 1px solid var(--lightGray1);
}