.toolOptions {
    display: flex;
    flex-direction: column;
    color: var(--mediumGray1);
    width: 14rem;
}

.option {
    /* margin-left: 1rem;
    margin-right: 1rem; */
    color: var(--mediumGray1);
}

.option:hover {
    color: var(--lightGray1);
}

.optionTitle {
    text-align: center;
    padding: 0.25rem;
}

/* react-color chrome picker changes */
.chrome-picker {
    background-color: var(--blueGray2) !important;
    border-radius: 0px !important;
    width: 100% !important;
}
.chrome-picker>div{
    border-radius: 0px !important;
}
.chrome-picker input {
    color: var(--lightGray1) !important;
    background-color: var(--blueGray2) !important;
}
.chrome-picker label {
    color: var(--lightGray1) !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

/* COLOR OPTIONS */

.recentColors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding-top: 0.025rem;
    padding-bottom: 0.025rem; */
    background: var(--blueGray2);
    width: 100%;
}

.recentColors button {
    background: red;
    width: 1.75rem;
    height: 1.75rem;
    /* margin: 0.025rem; */
}

.recentColors button.selected {
    border: 1px solid var(--lightGray1);
}

.recentColors button:hover{
    border: 1px solid var(--lightGray1);
}