.statusBar {
    padding: 0.3rem;
	background-color: var(--blueGray1);
	border-top: 1px solid var(--DarkblueGray1);
    font-size: 0.9rem;
    color: var(--mediumGray1);
}

.statusBar:hover {
    color: var(--mediumGray2);
}

.statusBar svg {
    vertical-align: baseline;
    width: 0.9em;
    height: 0.9em;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.statusBar:hover .coloredSquare {
    border: 1px solid var(--mediumGray2);
}