.statusBar {
    padding: 0.3rem;
	background-color: var(--blueGray1);
	border-top: 1px solid var(--DarkblueGray1);
    font-size: 0.9rem;
    color: var(--mediumGray1);
}

.statusBar:hover {
    color: var(--lightGray1);
}