.canvasLayer {
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    position: absolute;
}

.canvasLayer canvas{
    width: 100%;
    height: 100%;
}

.canvasLayer.hidden {
    display: none;
}