.strokeOptions {
    background-color: var(--blueGray2);
    padding-bottom: 0.3rem;
}

.option {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 0.3rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

.option input {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    border: 1px solid var(--mediumGray1);
    width: 1.15rem;
    text-align: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    color: var(--mediumGray1);
}
.scaleInput::-webkit-outer-spin-button,
.scaleInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.scaleInput:hover {
    color: var(--lightGray1);
    border: 1px solid var(--lightGray1);
}

label:hover {
    color: var(--lightGray1);
}

.scaleInput:focus {
    color: var(--lightGray1);
    border: 1px solid var(--lightGray1);
}

.scaleInput:focus ~ .scaleLabel {
    color: var(--lightGray1);
}

.scaleInput:hover ~ .scaleLabel {
    color: var(--lightGray1);
}
