.LayerPreview {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--DarkblueGray1);
    color: var(--mediumGray1);
    padding: 0.3rem;
    padding-right: 0.6rem;
    height: 50px;
    justify-content: space-between;
}

.LayerPreview.active {
    background-color: var(--blueGray2);
}

.layerPreviewInner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.layerActionButton {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--mediumGray1);
    border: none;
}

.layerActionButton:hover {
    color: var(--lightGray1);
    cursor: pointer;
}

.layerActionButton.active {
    color: var(--lightGray1);
}

.layerActionButton.inactive {
    cursor: not-allowed;
}

.layerActionButton svg {
    font-size: 0.9rem;
}

.LayerPreview .previewImage {
    width: 50px;
    height: 100%;
    background: #eee url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill-opacity=".25" >\
        <rect x="200" width="200" height="200" />\
        <rect y="200" width="200" height="200" />\
        </svg>');
    background-size: 5px 5px;
    
}