.UndoButtons {
    width: 1.5rem;
}

.undoButton {
    margin-top: 3rem;
}

.toolBar button .letter {
    position: absolute;
    right: 0.2rem;
    bottom: 0.1rem;
    font-size: 0.7rem;
}

button.disabled {
	opacity: 0.3;
}

button.disabled:hover {
    color: var(--mediumGray1);
    cursor: not-allowed;
}