:root {
	--DarkblueGray1: rgb(12, 12, 15);
	--blueGray1: rgb(41, 41, 53);
	--blueGray2: rgb(70, 70, 83);

	--mediumGray1: rgb(150, 150, 150);

	--lightGray1: rgb(226, 226, 226);

	
}

.App {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.editor {
	display: flex;
	flex-direction: row;
	height: 100%
}