:root {
	--DarkblueGray1: rgb(12, 12, 15);
	--blueGray1: rgb(41, 41, 53);
	--blueGray2: rgb(70, 70, 83);

	--mediumGray1: rgb(150, 150, 150);
	--mediumGray2: rgb(190, 190, 190);

	--lightGray1: rgb(226, 226, 226);

	
}

.App {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}

.editor {
	display: flex;
	flex-direction: row;
	height: 60%;
	flex: 1;
}

::-webkit-scrollbar {
	width: 8px;
}
  
::-webkit-scrollbar-track {
	background: var(--blueGray2);
}
  
::-webkit-scrollbar-thumb {
	background: var(--DarkblueGray1);
	border: 1px solid var(--DarkblueGray1);
}