* {
    margin: 0;
    padding: 0;
    user-select: none;
    user-zoom: disabled;
}

*:focus {
    outline: none;
}

button {
    border: none;
    background: none;
}

input {
    border: none;
    background: none;
}

body {
    overflow: hidden;
    transform: scale(1) !important;
}