.settings {
    background: var(--blueGray2);
    padding-bottom: 0.3rem;
}

.setting {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 0.3rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.setting input {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    border: 1px solid var(--mediumGray1);
    width: 1.15rem;
    text-align: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    color: var(--mediumGray1);
}

input {
    flex-direction: row-reverse;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:hover {
    color: var(--lightGray1);
    border: 1px solid var(--lightGray1);
}

label:hover {
    color: var(--lightGray1);
}


.widthSettingInput:focus {
    color: var(--lightGray1);
    border: 1px solid var(--lightGray1);
}

.widthSettingInput:focus ~ .widthSettingLabel {
    color: var(--lightGray1);
}

.widthSettingInput:hover ~ .widthSettingLabel {
    color: var(--lightGray1);
}


.heightSettingInput:focus {
    color: var(--lightGray1);
    border: 1px solid var(--lightGray1);
}

.heightSettingInput:focus ~ .heightSettingLabel {
    color: var(--lightGray1);
}

.heightSettingInput:hover ~ .heightSettingLabel {
    color: var(--lightGray1);
}


.scaleSettingInput:focus {
    color: var(--lightGray1);
    border: 1px solid var(--lightGray1);
}

.scaleSettingInput:focus ~ .scaleSettingLabel {
    color: var(--lightGray1);
}

.scaleSettingInput:hover ~ .scaleSettingLabel {
    color: var(--lightGray1);
}


.setting:hover ~ .settingsCategory {
    color: var(--lightGray1);
}

.setting:focus ~ .settingsCategory {
    color: var(--lightGray1);
}